<html><head>
        <META http-equiv='Content-Type' content='text/html; charset=iso-8859-1'>
        </HEAD>
        <BODY marginheight='0' marginwidth='0' leftmargin='0' topmargin='0'>
        <TABLE width='483' border='0' cellspacing='0' cellpadding='0'>
        
        <TR><TD colspan='3'><img src='<span th="${imagepath}"/>' width='483' height='83'></TD>
        </TR><TR><TD bgcolor='#FFFFFF'>&nbsp;&nbsp;&nbsp;</TD>
        <TD bgcolor='#FFFFFF'><FONT face='Verdana, Arial, Helvetica, sans-serif' size='-1'>
        <BR/><STRONG>myYKK detalles de autenticacion</STRONG><BR/><BR/>        
         
        $salutation, <BR/><BR/>
         
        Favor tomar nota de los detalles de autenticacion:<BR/><BR/>
        Usuario Id:&nbsp;&nbsp;&nbsp;&nbsp;<span th="${emailId}"/><BR/>
        Contrasena: &nbsp;<span th="${tempPwd}"/><BR/><BR/>
        <TABLE width='100%' border='0' cellspacing='0' cellpadding='0'><TR><TD valign='top'>
        <FONT face='Verdana, Arial, Helvetica, sans-serif' size='-1'>        
              
        Hacer click aqui para entrar de nuevo: &nbsp;<A href="http://myykkusa.com">http://myykkusa.com</A>
        
        </FONT></td></tr></table>
        <br/><br/><FONT face='Verdana, Arial, Helvetica, sans-serif' size='-2'>
        Este es un correo automatico. Favor no contestarlo.<br/>
        Si tiene alguna pregunta favor contactar al Dpto de Servicio al cliente MYYKK al telef. 866-832-6955.  
        <BR/><BR/></FONT><BR/><BR/><BR/><BR/>
        </TD><TD bgcolor='#FFFFFF'>&nbsp;&nbsp;&nbsp;</TD></TR></table></body></html>