<HTML>
<HEAD>
	<META http-equiv='Content-Type' content='text/html; charset=iso-8859-1'>
</HEAD>
<BODY marginheight='0' marginwidth='0' leftmargin='0' topmargin='0'>
	<TABLE width='483' border='0' cellspacing='0' cellpadding='0'>
	<TR>
		<!--<TD colspan='3'><img src='http://www.etekdocs.com/images/login_img_1.jpg' width='483' height='83'></TD>-->
	</TR>
	<TR>
		<TD bgcolor='#FFFFFF'>&nbsp;&nbsp;&nbsp;</TD>
	    <TD bgcolor='#FFFFFF'>
	    	<FONT face='Verdana, Arial, Helvetica, sans-serif' size='-1'>
	    	<BR/><BR/><BR/>

<FONT face='Verdana, Arial, Helvetica, sans-serif' size='-1'>Dear YKK Customer, <BR/><BR/>

Your YKK invoice(s)/statement(s) are available for viewing. You can view the Invoices & Statements at
<A href='https://www.myykkusa.com/'>https://www.myykkusa.com/</A>
<p align="justify">If you are logging into the system for the first time, Click "Logging in First Time?" and enter the email ID where you received the email. A temporary password will be generated and sent to this email account. With the email and temporary password you will be able to log into the account. </p>
<p align="justify">If you have trouble logging or have any questions about your invoice/statement, please contact our Accounting Department at 770-427-5521. </p>
<p align="justify">As a registered user of myykkusa.com, you are eligible to:</p>
<ul>
	<li>Receive notification when new invoices/statements are available online. </li>
	<li>View and print your current and past Invoices & Statements.</li>
</ul></FONT>

<hr>
<p><FONT face='Verdana, Arial, Helvetica, sans-serif' size='-2'>DO NOT REPLY TO THIS MESSAGE. IT WAS SENT FROM AN AUTOMATED SYSTEM AND REPLIES WILL NOT BE ANSWERED.</FONT></p>
<hr>
<FONT face='Verdana, Arial, Helvetica, sans-serif' size='-1'>
<p>Thank you for choosing YKK (USA) Inc., for your business.</p>
<p align="justify">NOTICE: This e-mail message and all attachments transmitted with it may contain legally privileged and/or confidential information intended solely for the use of the addressee. If the reader of this message is not the intended recipient, you are hereby notified that any reading, dissemination, distribution, copying, or other use of this message or its attachments is strictly prohibited. If you have received this message in error, please notify the sender immediately by telephone and delete this message and all copies and backups thereof.</p>
<p>This e-mail once opened will mark an acknowledgement to the sender.</p>
<p>Thank you </p>
<p>Sincerely,</p>
<p>YKK Billing/Account Receivable Dept.</p></FONT>


<BR/><BR/><BR/><BR/>

</BODY>
</HTML>
